@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 160 80% 25%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --text-primary: 160 80% 45%;

    --shadow: 0px 16px 32px rgba(145, 158, 171, 0.25), 0px 0px 2px rgba(145, 158, 171, 0.25);

    --scrollbar-track: 0 2% 83%;
    --scrollbar-thumb: 0 0% 64%;
    --scrollbar-thumb-border: 0 0% 90%;
    --scrollbar-thumb-hover: 0 0% 70%;

  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 160 80% 35%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 160 80% 45%;
    --radius: 0.5rem;
    --text-primary: 160 80% 45%;
    --shadow: 0px 0px 2px 0px rgba(11, 13, 14, 0.24),
      0px 16px 32px 0px rgba(11, 13, 14, 0.25);
    --scrollbar-track: 210 15% 20%;
    --scrollbar-thumb: 210 49% 28%;
    --scrollbar-thumb-border: 210 15% 28%;
    --scrollbar-thumb-hover: 210 15% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-size: 0.9375rem;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--scrollbar-track));
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--scrollbar-thumb));
    border: 1px solid hsl(var(--scrollbar-thumb-border));
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    transition: ease-in 300ms all;
    background: hsl(var(--scrollbar-thumb-hover));
  }
}